.sidebarCustom {
  display: flex;
  align-items: center;
  cursor: pointer;
  color: black;
}

.sidebarCustom:hover {
  background-color: #e8f5fe;
  border-radius: 30px;
  color: #50b7f5;
  transition: color 100ms ease-out;
}
.sidebarCustom:active {
  color: #50b7f5;
}
.sidebarCustom h2 {
  font-weight: 800;
  font-size: 20px;
  margin-right: 20px;
}

a {
  text-decoration: none;
}
